/*@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
@font-face {
  font-family: 'TTWanjudaedunsancheB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}*/

.font-link{
  font-family: 'Kablammo', cursive;

}

.font-import{
  font-family: 'Kablammo', cursive;
}

.noonnu-font{
  font-family: 'TTWanjudaedunsancheB'; cursive;
}

.container{
  width: 500px;
  background-color: aliceblue;
}

.sentences{
  font-weight: 400;
  font-size: 1em;

  text-align: center;
  
  text-decoration: line-through;
  text-decoration: underline;
  text-decoration: overline;
}

a{
  text-decoration: none;
  color: black;
}
