* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

.inner li a {
  text-decoration: none;
}

.inner {
  width: 1500px;
  margin: 0;
}

body {
}
header {
  position: relative;
  height: 123px;
  position: fixed;
  background-color: white;
  width: 100%;
  display: block;
}
header .util-menu {
}

header .util-menu .inner {
}

header .util-menu .inner ul {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
}

header .util-menu .inner ul li {
  margin: 5px;
}
header .util-menu .inner ul .company a {
  color: #8b8b8b;
}

header .util-menu .inner ul .company a::after {
  content: "   l";
}
.main-menu {
}

.main-menu .inner {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 0px;
}

.main-menu .inner .logo {
  margin-left: 200px;
}
.main-menu .inner .menu {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.main-menu .inner .menu li {
  flex-direction: row;
  align-items: flex-end;
  margin: 0 40px;
}

main {
}

main section .news1 img {
  display: block;
  width: 100%;
  padding-top: 120px;
}

main .box1 {
  display: flex;
}

main .box1 .news2 {
  background: url(../../../html/img/main_sec1.jpg) no-repeat;
  background-size: cover;
  background-position: 60%;
  height: 320px;
  width: 50%;
}

main .box1 .news2 dh {
  font-size: 50px;
  color: #071f60;
  font-family: "Montserrat", "Noto Sans KR", AppleGothic, sans-serif;
  position: relative;
  left: 300px;
  top: 40px;
}
main .box1 .news2 span {
  font-weight: bold;
  position: relative;
  left: 300px;
  top: 50px;
}

main .box1 .news3 {
  background: url(../../../html/img/main_intro_bn.jpg) no-repeat #253f85;
  background-size: 301px;
  background-position: 550px center;
  width: 50%;
}

main .box1 .news3 dh2 {
  color: white;
  font-family: "Montserrat", "Noto Sans KR", AppleGothic, sans-serif;
  font-size: 50px;
}

main section .news4 img {
  width: 100%;
}

main .box2 {
  display: flex;
}
main .box2 .news5 img {
  width: 100%;
}

main .box2 .news6 img {
  width: 100%;
}

main .box3 {
  display: flex;
}

main .box3 .news7 {
  width: 500px;
  height: 300px;
  background-color: #071f60;
}

main .box3 .news8 {
  width: 500px;
  height: 300px;
  background-color: yellow;
}
