li {
  list-style: none;
}

.inner li a {
  text-decoration: none;
}

.inner {
  width: 1500px;
  margin: 0;
  height: 100%;
}

body {
  display: block;
}
header {
  position: relative;
  height: 123px;
  position: fixed;
  background-color: white;
  width: 100%;
}
header .util-menu {
}

header .util-menu .inner {
}

header .util-menu .inner ul {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
}

header .util-menu .inner ul li {
  margin: 5px;
}

.main-menu {
}

.main-menu .inner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: -40px;
}

.main-menu .inner .logo {
  margin-left: 200px;
}
.main-menu .inner .menu {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.main-menu .inner .menu li {
  flex-direction: row;
  align-items: flex-end;
  margin: 0 40px;
}

main {
}

main section .news1 img {
  margin-top: 123px;
  width: 100%;
}

main .box1 {
  display: flex;
}

main .box1 .news2 {
  background-color: yellow;
  width: 50%;
  height: 200px;
  font-size: 40px;
}

main .box1 .news2 dh {
  font-weight: 900;
  color: #071f60;
}

main .box1 .news3 {
  background-color: #071f60;
  width: 50%;
  height: 200px;
  font-size: 40px;
  color: white;
}

main .box1 .news3 dh2 {
  font-weight: 900;
}

main section .news4 img {
  width: 100%;
}

main .box2 {
  display: flex;
}
main .box2 .news5 img {
  width: 100%;
}

main .box2 .news6 img {
  width: 100%;
}

main .box3 {
  display: flex;
}

main .box3 .news7 {
  width: 500px;
  height: 300px;
  background-color: #071f60;
}

main .box3 .news8 {
  width: 500px;
  height: 300px;
  background-color: yellow;
}
